# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
apps/frontend/node_modules
apps/frontend/.pnp
/apps/frontend.pnp.js
/apps/frontend.yarn/install-state.gz

# testing
/apps/frontend/coverage

# next.js
/apps/frontend/.next
/apps/frontend/out

/apps/frontend/build

# misc
/apps/frontend/.DS_Store
/apps/frontend/*.pem

# debug
/apps/frontend/npm-debug.log*
/apps/frontend/yarn-debug.log*
/apps/frontend/yarn-error.log*

# local env files
/apps/frontend/.env*.local

# vercel
/apps/frontend/.vercel

# typescript
/apps/frontend/*.tsbuildinfo
/apps/frontend/next-env.d.ts

.turbo
node_modules
